---
layout: default
---

<div class="internships">
  {% for post in site.internships %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <!--
      <div class="authors">
          <b>
          {{ post.first-author }}
          {% for author in post.authors %}
              , {{ author }}
          {% endfor %}
          </b>
      </div>
      -->

      <div class="description">
          <i>{{ post.description }}</i>
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
